## H2o Top Models GLMs, Auto ML: Deeplearning, ["DRF", "GBM", "XGBoost"], include_algos all

In [ ]:
!pip install h2o

In [3]:
import h2o
h2o.init()
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
import pandas as pd
import numpy as np

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.8" 2020-07-14; OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp8d8lf8d7
  JVM stdout: /tmp/tmp8d8lf8d7/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp8d8lf8d7/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    6 days
H2O_cluster_name:           H2O_from_python_unknownUser_v2m98i
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [5]:
X = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/ConcDriversML/master/WARX.csv')
y = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/ConcDriversML/master/WARY.csv')

train = X.join(y)
print('train ', train.shape)


train_h = h2o.H2OFrame(train)
train_h["Genero"] = train_h["Genero"].asfactor()
train_h["Estrato"] = train_h["Estrato"].asfactor()
train_h["NivelEd"] = train_h["NivelEd"].asfactor()
train_h["Accidente"] = train_h["Accidente"].asfactor()

predictors = ["Genero","Edad","Estrato","NivelEd","ConcProm1","ConcProm2_1","ConcProm2_2"]
response = "Accidente"

train_h

train  (167, 8)
Parse progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

Genero,Edad,Estrato,NivelEd,ConcProm1,ConcProm2_1,ConcProm2_2,Accidente
0,21,2,4,25.09,18.7828,31.3967,1
1,72,3,4,43.5474,39.5988,47.4956,1
0,47,1,0,40.9353,34.0787,47.7915,1
0,43,2,3,57.7271,55.1533,60.3006,1
0,33,3,4,47.5,41.1186,53.9386,1
0,68,4,5,60,54.8072,65.2324,1
0,74,2,1,71.3089,73.1998,69.4181,0
0,24,2,1,41.9732,24.3062,59.6389,1
1,24,3,4,70.1969,64.6597,75.7336,0
1,40,3,4,67.258,68.5133,66.0029,0

In [12]:
from h2o.automl import H2OAutoML

predictors = ["Genero","Edad","Estrato","NivelEd","ConcProm1","ConcProm2_1","ConcProm2_2"]
response = "Accidente"
aml = H2OAutoML(max_models=200, 
                seed=1, 
                include_algos=["DeepLearning"], 
                max_runtime_secs=60*10,
                nfolds = 5,
                keep_cross_validation_predictions=True)
aml.train(x=predictors, y=response, training_frame=train_h)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)
aml.leader.predict(train_h)

aml.leader.save_mojo()

print(aml.leader)

print("Actual")
actual = np.array(train[response])
print(actual)

pred_df = aml.leader.predict(train_h)
predicted = np.array(pred_df.as_data_frame()["predict"])
print("predicted")
print(predicted)

print("Prediction Accuracy")
count = 0
for i in range(len(predicted)): 
    if predicted[i] == actual[i]:
       count= count+1
print(count/len(predicted))

print("MSE")
np.sum(np.square(np.array(train[response])-predicted))/len(predicted)

aml.leader.varimp_plot()

AutoML progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
deeplearning prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_grid__2_AutoML_20200817_033340_model_3


Status of Neuron Layers: predicting Accidente, 2-class classification, bernoulli distribution, CrossEntropy loss, 262,502 weights/biases, 3.0 MB, 4,073 training samples, mini-batch size 1

     layer  units  ... weight_rms    mean_bias     bias_rms
0        1     21  ...
1        2    500  ...  0.0611463     0.487848    0.0143392
2        3    500  ...  0.0464045     0.994046   0.00770625
3        4      2  ...   0.246263  2.26238e-05  0.000840464

[4 rows x 14 columns]

ModelMetricsBinomial: deeplearning
** Reported on train data. **

MSE: 0.08655138426441317
RMSE: 0.2941961662979536
LogLoss: 0.6272128936706227
Mean Per-Class Error: 0.10020554984583763
AUC: 0.9103288797533402
AUCPR: 0.9650282047724175
Gini: 0.8206577595066804

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.9591709572658218:

             0      1   Error          Rate
0      0  19.0    9.0  0.3214    (9.0/28.0)
1      1   0.0  139.0     0.0   (0.0/139.0)
2  Total  19.0  148.0  0.0539   (9.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.959171    0.968641  108.0
1                        max f2   0.959171    0.987216  108.0
2                  max f0point5   0.996275    0.964654   95.0
3                  max accuracy   0.959171    0.946108  108.0
4                 max precision   0.999999    0.980000   14.0
5                    max recall   0.959171    1.000000  108.0
6               max specificity   1.000000    0.964286    0.0
7              max absolute_mcc   0.959171    0.798315  108.0
8    max min_per_class_accuracy   0.998701    0.857143   84.0
9   max mean_per_class_accuracy   0.996275    0.899794   95.0
10                      max tns   1.000000   27.000000    0.0
11                      max fns   1.000000  117.000000    0.0
12                      max fps   0.048770   28.000000  127.0
13                      max tps   0.959171  139.000000  108.0
14                      max tnr   1.000000    0.964286    0.0
15                      max fnr   1.000000    0.841727    0.0
16                      max fpr   0.048770    1.000000  127.0
17                      max tpr   0.959171    1.000000  108.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 93.72 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.011976  ...       -39.928058           -0.028520
1       2                  0.023952  ...        -9.892086           -0.014132
2       3                  0.029940  ...        -3.884892           -0.006937
3       4                  0.041916  ...         2.980473            0.007451
4       5                  0.053892  ...         6.794564            0.021840
5       6                  0.101796  ...        13.076598            0.079394
6       7                  0.149701  ...        15.338129            0.136948
7       8                  0.203593  ...        16.610241            0.201696
8       9                  0.299401  ...        17.741007            0.316804
9      10                  0.401198  ...        16.557500            0.396197
10     11                  0.502994  ...        15.853032            0.475591
11     12                  0.598802  ...        16.539568            0.590699
12     13                  0.700599  ...        16.036402            0.670092
13     14                  0.796407  ...        16.530535            0.785200
14     15                  0.898204  ...        11.333333            0.607143
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomial: deeplearning
** Reported on cross-validation data. **

MSE: 0.05393537677489822
RMSE: 0.23223991210577527
LogLoss: 0.49887315203854704
Mean Per-Class Error: 0.1428571428571428
AUC: 0.8801387461459403
AUCPR: 0.9476667287981502
Gini: 0.7602774922918807

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4444298784645207:

             0      1   Error          Rate
0      0  20.0    8.0  0.2857    (8.0/28.0)
1      1   0.0  139.0     0.0   (0.0/139.0)
2  Total  20.0  147.0  0.0479   (8.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.444430    0.972028  132.0
1                        max f2   0.444430    0.988620  132.0
2                  max f0point5   0.444430    0.955983  132.0
3                  max accuracy   0.444430    0.952096  132.0
4                 max precision   0.997685    0.967391   77.0
5                    max recall   0.444430    1.000000  132.0
6               max specificity   1.000000    0.964286    0.0
7              max absolute_mcc   0.444430    0.821835  132.0
8    max min_per_class_accuracy   0.921056    0.848921  107.0
9   max mean_per_class_accuracy   0.444430    0.857143  132.0
10                      max tns   1.000000   27.000000    0.0
11                      max fns   1.000000  130.000000    0.0
12                      max fps   0.000031   28.000000  152.0
13                      max tps   0.444430  139.000000  132.0
14                      max tnr   1.000000    0.964286    0.0
15                      max fnr   1.000000    0.935252    0.0
16                      max fpr   0.000031    1.000000  152.0
17                      max tpr   0.444430    1.000000  132.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 84.62 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.011976  ...       -39.928058           -0.028520
1       2                  0.023952  ...        -9.892086           -0.014132
2       3                  0.029940  ...        -3.884892           -0.006937
3       4                  0.041916  ...         2.980473            0.007451
4       5                  0.053892  ...         6.794564            0.021840
5       6                  0.101796  ...        13.076598            0.079394
6       7                  0.149701  ...        15.338129            0.136948
7       8                  0.203593  ...        13.076598            0.158787
8       9                  0.299401  ...        12.935252            0.230987
9      10                  0.401198  ...        14.764308            0.353289
10     11                  0.502994  ...        15.853032            0.475591
11     12                  0.598802  ...        15.338129            0.547790
12     13                  0.700599  ...        16.036402            0.670092
13     14                  0.796407  ...        14.723860            0.699383
14     15                  0.898204  ...        11.333333            0.607143
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Cross-Validation Metrics Summary:

                                    mean  ...   cv_4_valid  cv_5_valid
0                  accuracy    0.9520499  ...          1.0   0.8484849
1                       auc    0.9189418  ...          1.0   0.7268519
2                     aucpr   0.95195925  ...          1.0   0.7958711
3                       err   0.04795009  ...          0.0  0.15151516
4                 err_count          1.6  ...          0.0         5.0
5                  f0point5   0.95542294  ...          1.0  0.85714287
6                        f1   0.97095686  ...          1.0   0.9056604
7                        f2    0.9878586  ...          1.0        0.96
8            lift_top_group   0.93396825  ...    1.2222222         0.0
9                   logloss    0.7891674  ...   0.08830877   1.7898829
10      max_per_class_error   0.22777778  ...          0.0   0.5555556
11                      mcc   0.84944636  ...          1.0  0.60647845
12  mean_per_class_accuracy   0.88611114  ...          1.0   0.7222222
13     mean_per_class_error   0.11388889  ...          0.0   0.2777778
14                      mse   0.12912598  ...  0.027021388  0.16356876
15                   pr_auc   0.95195925  ...          1.0   0.7958711
16                precision    0.9457323  ...          1.0  0.82758623
17                       r2  -0.19394436  ...    0.8183562   0.1753408
18                   recall          1.0  ...          1.0         1.0
19                     rmse   0.33111122  ...   0.16438183  0.40443635

[20 rows x 8 columns]

See the whole table with table.as_data_frame()

Scoring History:

               timestamp  ... training_lift training_classification_error
0    2020-08-17 03:40:00  ...           NaN                           NaN
1    2020-08-17 03:40:01  ...      0.600719                      0.053892
2    2020-08-17 03:40:07  ...      0.600719                      0.053892
3    2020-08-17 03:40:11  ...      0.600719                      0.053892

[4 rows x 14 columns]

Variable Importances:

               variable  relative_importance  scaled_importance  percentage
0             NivelEd.4             1.000000           1.000000    0.058423
1             NivelEd.1             0.985055           0.985055    0.057549
2             Estrato.4             0.982346           0.982346    0.057391
3             NivelEd.6             0.972765           0.972765    0.056831
4             NivelEd.3             0.958440           0.958440    0.055994
5             ConcProm1             0.957794           0.957794    0.055957
6             NivelEd.5             0.957794           0.957794    0.055957
7           ConcProm2_2             0.952787           0.952787    0.055664
8             Estrato.5             0.952703           0.952703    0.055659
9           ConcProm2_1             0.952479           0.952479    0.055646
10            Estrato.6             0.946976           0.946976    0.055325
11            NivelEd.0             0.937680           0.937680    0.054782
12            Estrato.3             0.933783           0.933783    0.054554
13                 Edad             0.930335           0.930335    0.054352
14             Genero.1             0.929919           0.929919    0.054328
15            Estrato.1             0.927716           0.927716    0.054200
16            Estrato.2             0.923530           0.923530    0.053955
17             Genero.0             0.914589           0.914589    0.053433
18  Estrato.missing(NA)             0.000000           0.000000    0.000000
19  NivelEd.missing(NA)             0.000000           0.000000    0.000000

See the whole table with table.as_data_frame()

Actual
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 0]
deeplearning prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
predicted
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1]
Prediction Accuracy
0.9461077844311377
MSE

0.05389221556886228

In [13]:
from h2o.automl import H2OAutoML

predictors = ["Genero","Edad","Estrato","NivelEd","ConcProm1","ConcProm2_1","ConcProm2_2"]
response = "Accidente"
aml = H2OAutoML(max_models=200, 
                seed=1, 
                include_algos=["DRF", "GBM", "XGBoost"],
                max_runtime_secs=60*10,
                nfolds = 5,
                keep_cross_validation_predictions=True)

aml.train(x=predictors, y=response, training_frame=train_h)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

aml.leader.save_mojo()

print(aml.leader)

print("Actual")
actual = np.array(train[response])
print(actual)

pred_df = aml.leader.predict(train_h)
predicted = np.array(pred_df.as_data_frame()["predict"])
print("predicted")
print(predicted)

print("Prediction Accuracy")
count = 0
for i in range(len(predicted)): 
    if predicted[i] == actual[i]:
       count= count+1
print(count/len(predicted))

print("MSE")
np.sum(np.square(np.array(train[response])-predicted))/len(predicted)

aml.leader.varimp_plot()

AutoML progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ
03:44:02.279: Skipping training of model GBM_5_AutoML_20200817_034345 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200817_034345.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 167.0.


â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20200817_034345_model_16


Model Summary:

     number_of_trees
0              109.0

ModelMetricsBinomial: xgboost
** Reported on train data. **

MSE: 0.048225597152892034
RMSE: 0.2196032721816595
LogLoss: 0.19790504072604131
Mean Per-Class Error: 0.09301130524152112
AUC: 0.960431654676259
AUCPR: 0.9903535763512912
Gini: 0.920863309352518

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.6742227673530579:

             0      1   Error          Rate
0      0  22.0    6.0  0.2143    (6.0/28.0)
1      1   1.0  138.0  0.0072   (1.0/139.0)
2  Total  23.0  144.0  0.0419   (7.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.674223    0.975265  131.0
1                        max f2   0.341300    0.987216  135.0
2                  max f0point5   0.796673    0.967977  124.0
3                  max accuracy   0.674223    0.958084  131.0
4                 max precision   0.945303    1.000000    0.0
5                    max recall   0.341300    1.000000  135.0
6               max specificity   0.945303    1.000000    0.0
7              max absolute_mcc   0.674223    0.843939  131.0
8    max min_per_class_accuracy   0.916520    0.892857  115.0
9   max mean_per_class_accuracy   0.796673    0.906989  124.0
10                      max tns   0.945303   28.000000    0.0
11                      max fns   0.945303  138.000000    0.0
12                      max fps   0.218730   28.000000  151.0
13                      max tps   0.341300  139.000000  135.0
14                      max tnr   0.945303    1.000000    0.0
15                      max fnr   0.945303    0.992806    0.0
16                      max fpr   0.218730    1.000000  151.0
17                      max tpr   0.341300    1.000000  135.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 83.27 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.023952  ...        20.143885            0.028777
1       2                  0.023952  ...        20.143885            0.028777
2       3                  0.029940  ...        20.143885            0.035971
3       4                  0.041916  ...        20.143885            0.050360
4       5                  0.059880  ...        20.143885            0.071942
5       6                  0.101796  ...        20.143885            0.122302
6       7                  0.149701  ...        20.143885            0.179856
7       8                  0.203593  ...        20.143885            0.244604
8       9                  0.299401  ...        20.143885            0.359712
9      10                  0.401198  ...        20.143885            0.482014
10     11                  0.502994  ...        18.713601            0.561408
11     12                  0.598802  ...        18.942446            0.676516
12     13                  0.700599  ...        18.090143            0.755910
13     14                  0.796407  ...        16.530535            0.785200
14     15                  0.898204  ...        11.333333            0.607143
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.060544842974010644
RMSE: 0.24605861694728484
LogLoss: 0.23034453241078345
Mean Per-Class Error: 0.11446557040082217
AUC: 0.9614594039054472
AUCPR: 0.9917511817887894
Gini: 0.9229188078108943

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5457178354263306:

             0      1   Error           Rate
0      0  19.0    9.0  0.3214     (9.0/28.0)
1      1   1.0  138.0  0.0072    (1.0/139.0)
2  Total  20.0  147.0  0.0599   (10.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.545718    0.965035  123.0
1                        max f2   0.545718    0.981508  123.0
2                  max f0point5   0.764367    0.960699  113.0
3                  max accuracy   0.690813    0.940120  119.0
4                 max precision   0.947121    1.000000    0.0
5                    max recall   0.337337    1.000000  131.0
6               max specificity   0.947121    1.000000    0.0
7              max absolute_mcc   0.690813    0.775699  119.0
8    max min_per_class_accuracy   0.853306    0.857143  106.0
9   max mean_per_class_accuracy   0.764367    0.885534  113.0
10                      max tns   0.947121   28.000000    0.0
11                      max fns   0.947121  138.000000    0.0
12                      max fps   0.210169   28.000000  143.0
13                      max tps   0.337337  139.000000  131.0
14                      max tnr   0.947121    1.000000    0.0
15                      max fnr   0.947121    0.992806    0.0
16                      max fpr   0.210169    1.000000  143.0
17                      max tpr   0.337337    1.000000  131.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 82.34 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.011976  ...        20.143885            0.014388
1       2                  0.023952  ...        20.143885            0.028777
2       3                  0.029940  ...        20.143885            0.035971
3       4                  0.041916  ...        20.143885            0.050360
4       5                  0.053892  ...        20.143885            0.064748
5       6                  0.101796  ...        20.143885            0.122302
6       7                  0.149701  ...        20.143885            0.179856
7       8                  0.203593  ...        20.143885            0.244604
8       9                  0.299401  ...        20.143885            0.359712
9      10                  0.401198  ...        20.143885            0.482014
10     11                  0.502994  ...        20.143885            0.604317
11     12                  0.598802  ...        18.942446            0.676516
12     13                  0.718563  ...        17.140288            0.734584
13     14                  0.796407  ...        15.627197            0.742292
14     15                  0.898204  ...        10.532374            0.564234
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Cross-Validation Metrics Summary:

                                   mean  ...   cv_4_valid  cv_5_valid
0                  accuracy   0.9520499  ...          1.0   0.8484849
1                       auc   0.9402381  ...          1.0        0.75
2                     aucpr   0.9652464  ...          1.0  0.83477926
3                       err  0.04795009  ...          0.0  0.15151516
4                 err_count         1.6  ...          0.0         5.0
5                  f0point5   0.9557464  ...          1.0  0.85714287
6                        f1   0.9711717  ...          1.0   0.9056604
7                        f2  0.98794997  ...          1.0        0.96
8            lift_top_group   1.1589682  ...    1.2222222       1.125
9                   logloss  0.23057042  ...   0.14528948  0.47708175
10      max_per_class_error  0.24444444  ...          0.0   0.5555556
11                      mcc   0.8376251  ...          1.0  0.60647845
12  mean_per_class_accuracy  0.87777776  ...          1.0   0.7222222
13     mean_per_class_error  0.12222222  ...          0.0   0.2777778
14                      mse   0.0606302  ...  0.027721312   0.1522561
15                   pr_auc   0.9652464  ...          1.0  0.83477926
16                precision   0.9461207  ...          1.0  0.82758623
17                       r2  0.59098285  ...    0.8136512  0.23237549
18                   recall         1.0  ...          1.0         1.0
19                     rmse  0.22921674  ...   0.16649719  0.39020008

[20 rows x 8 columns]

See the whole table with table.as_data_frame()

Scoring History:

                timestamp  ... training_lift  training_classification_error
0     2020-08-17 03:44:22  ...      1.000000                       0.167665
1     2020-08-17 03:44:22  ...      1.164185                       0.047904
2     2020-08-17 03:44:22  ...      1.170633                       0.047904
3     2020-08-17 03:44:22  ...      1.170633                       0.047904
4     2020-08-17 03:44:22  ...      1.170633                       0.047904
5     2020-08-17 03:44:22  ...      1.170367                       0.047904
6     2020-08-17 03:44:22  ...      1.163095                       0.047904
7     2020-08-17 03:44:22  ...      1.163095                       0.047904
8     2020-08-17 03:44:22  ...      1.163095                       0.047904
9     2020-08-17 03:44:22  ...      1.177881                       0.041916
10    2020-08-17 03:44:23  ...      1.201439                       0.047904
11    2020-08-17 03:44:23  ...      1.201439                       0.041916
12    2020-08-17 03:44:23  ...      1.201439                       0.041916
13    2020-08-17 03:44:23  ...      1.201439                       0.041916
14    2020-08-17 03:44:23  ...      1.201439                       0.041916
15    2020-08-17 03:44:23  ...      1.201439                       0.047904
16    2020-08-17 03:44:23  ...      1.201439                       0.041916
17    2020-08-17 03:44:23  ...      1.201439                       0.041916
18    2020-08-17 03:44:23  ...      1.201439                       0.041916
19    2020-08-17 03:44:23  ...      1.201439                       0.041916

[20 rows x 10 columns]

See the whole table with table.as_data_frame()

Variable Importances:

       variable  relative_importance  scaled_importance  percentage
0   ConcProm2_1            44.569588           1.000000    0.482558
1     ConcProm1            40.758926           0.914501    0.441299
2   ConcProm2_2             5.082629           0.114038    0.055030
3          Edad             1.496032           0.033566    0.016198
4     NivelEd.3             0.127033           0.002850    0.001375
5     Estrato.3             0.100683           0.002259    0.001090
6     NivelEd.5             0.049222           0.001104    0.000533
7     Estrato.4             0.046488           0.001043    0.000503
8     NivelEd.0             0.039461           0.000885    0.000427
9     NivelEd.1             0.033299           0.000747    0.000361
10     Genero.0             0.023621           0.000530    0.000256
11    Estrato.2             0.023551           0.000528    0.000255
12    NivelEd.4             0.010643           0.000239    0.000115

Actual
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 0]
xgboost prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
predicted
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1]
Prediction Accuracy
0.9580838323353293
MSE

0.041916167664670656

In [6]:
from h2o.automl import H2OAutoML

predictors = ["Genero","Edad","Estrato","NivelEd","ConcProm1","ConcProm2_1","ConcProm2_2"]
response = "Accidente"
aml = H2OAutoML(max_models=800, 
                seed=1, 
                max_runtime_secs=60*10,
                nfolds = 5,
                keep_cross_validation_predictions=True)

aml.train(x=predictors, y=response, training_frame=train_h)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

aml.leader.save_mojo()

print(aml.leader)

print("Actual")
actual = np.array(train[response])
print(actual)

pred_df = aml.leader.predict(train_h)
predicted = np.array(pred_df.as_data_frame()["predict"])
print("predicted")
print(predicted)

print("Prediction Accuracy")
count = 0
for i in range(len(predicted)): 
    if predicted[i] == actual[i]:
       count= count+1
print(count/len(predicted))

print("MSE")
np.sum(np.square(np.array(train[response])-predicted))/len(predicted)

aml.leader.varimp_plot()

AutoML progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ
06:53:42.509: Skipping training of model GBM_5_AutoML_20200817_065322 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200817_065322.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 167.0.


â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_grid__1_AutoML_20200817_065322_model_12


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               82.0  ...        15.0     9.402439

[1 rows x 10 columns]

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.0037475772892849243
RMSE: 0.06121745902342668
LogLoss: 0.02971607304095537
Mean Per-Class Error: 0.0
AUC: 1.0
AUCPR: 1.0
Gini: 1.0

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.794646065030722:

             0      1 Error          Rate
0      0  28.0    0.0   0.0    (0.0/28.0)
1      1   0.0  139.0   0.0   (0.0/139.0)
2  Total  28.0  139.0   0.0   (0.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.794646    1.000000  137.0
1                        max f2   0.794646    1.000000  137.0
2                  max f0point5   0.794646    1.000000  137.0
3                  max accuracy   0.794646    1.000000  137.0
4                 max precision   0.999424    1.000000    0.0
5                    max recall   0.794646    1.000000  137.0
6               max specificity   0.999424    1.000000    0.0
7              max absolute_mcc   0.794646    1.000000  137.0
8    max min_per_class_accuracy   0.794646    1.000000  137.0
9   max mean_per_class_accuracy   0.794646    1.000000  137.0
10                      max tns   0.999424   28.000000    0.0
11                      max fns   0.999424  138.000000    0.0
12                      max fps   0.003976   28.000000  165.0
13                      max tps   0.794646  139.000000  137.0
14                      max tnr   0.999424    1.000000    0.0
15                      max fnr   0.999424    0.992806    0.0
16                      max fpr   0.003976    1.000000  165.0
17                      max tpr   0.794646    1.000000  137.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 83.22 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.011976  ...        20.143885            0.014388
1       2                  0.023952  ...        20.143885            0.028777
2       3                  0.029940  ...        20.143885            0.035971
3       4                  0.041916  ...        20.143885            0.050360
4       5                  0.053892  ...        20.143885            0.064748
5       6                  0.101796  ...        20.143885            0.122302
6       7                  0.149701  ...        20.143885            0.179856
7       8                  0.203593  ...        20.143885            0.244604
8       9                  0.299401  ...        20.143885            0.359712
9      10                  0.401198  ...        20.143885            0.482014
10     11                  0.502994  ...        20.143885            0.604317
11     12                  0.598802  ...        20.143885            0.719424
12     13                  0.700599  ...        20.143885            0.841727
13     14                  0.796407  ...        20.143885            0.956835
14     15                  0.898204  ...        11.333333            0.607143
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomial: gbm
** Reported on cross-validation data. **

MSE: 0.056140963320561565
RMSE: 0.23694084350436834
LogLoss: 0.2014343762555898
Mean Per-Class Error: 0.118191161356629
AUC: 0.9416752312435765
AUCPR: 0.9861633655719161
Gini: 0.8833504624871531

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5593318216858155:

             0      1   Error           Rate
0      0  19.0    9.0  0.3214     (9.0/28.0)
1      1   2.0  137.0  0.0144    (2.0/139.0)
2  Total  21.0  146.0  0.0659   (11.0/167.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.559332    0.961404  145.0
1                        max f2   0.249580    0.980254  152.0
2                  max f0point5   0.907364    0.955994  129.0
3                  max accuracy   0.684273    0.934132  143.0
4                 max precision   0.999977    1.000000    0.0
5                    max recall   0.249580    1.000000  152.0
6               max specificity   0.999977    1.000000    0.0
7              max absolute_mcc   0.684273    0.750911  143.0
8    max min_per_class_accuracy   0.935890    0.857143  123.0
9   max mean_per_class_accuracy   0.907364    0.881809  129.0
10                      max tns   0.999977   28.000000    0.0
11                      max fns   0.999977  138.000000    0.0
12                      max fps   0.001202   28.000000  166.0
13                      max tps   0.249580  139.000000  152.0
14                      max tnr   0.999977    1.000000    0.0
15                      max fnr   0.999977    0.992806    0.0
16                      max fpr   0.001202    1.000000  166.0
17                      max tpr   0.249580    1.000000  152.0

Gains/Lift Table: Avg response rate: 83.23 %, avg score: 85.81 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.011976  ...        20.143885            0.014388
1       2                  0.023952  ...        20.143885            0.028777
2       3                  0.029940  ...        20.143885            0.035971
3       4                  0.041916  ...        20.143885            0.050360
4       5                  0.053892  ...        20.143885            0.064748
5       6                  0.101796  ...        20.143885            0.122302
6       7                  0.149701  ...        20.143885            0.179856
7       8                  0.203593  ...        20.143885            0.244604
8       9                  0.299401  ...        20.143885            0.359712
9      10                  0.401198  ...        20.143885            0.482014
10     11                  0.502994  ...        17.283316            0.518499
11     12                  0.598802  ...        17.741007            0.633607
12     13                  0.700599  ...        17.063272            0.713001
13     14                  0.796407  ...        15.627197            0.742292
14     15                  0.898204  ...        10.532374            0.564234
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Cross-Validation Metrics Summary:

                                    mean  ...  cv_4_valid  cv_5_valid
0                  accuracy    0.9520499  ...         1.0   0.8484849
1                       auc   0.94558203  ...         1.0   0.7731481
2                     aucpr    0.9734929  ...         1.0   0.8744329
3                       err   0.04795009  ...         0.0  0.15151516
4                 err_count          1.6  ...         0.0         5.0
5                  f0point5    0.9557464  ...         1.0  0.85714287
6                        f1    0.9711717  ...         1.0   0.9056604
7                        f2   0.98794997  ...         1.0        0.96
8            lift_top_group    1.2089683  ...   1.2222222       1.375
9                   logloss   0.20188877  ...  0.09347127  0.56084776
10      max_per_class_error   0.24444444  ...         0.0   0.5555556
11                      mcc    0.8376251  ...         1.0  0.60647845
12  mean_per_class_accuracy   0.87777776  ...         1.0   0.7222222
13     mean_per_class_error   0.12222222  ...         0.0   0.2777778
14                      mse  0.056244925  ...  0.02742902    0.155014
15                   pr_auc    0.9734929  ...         1.0   0.8744329
16                precision    0.9461207  ...         1.0  0.82758623
17                       r2    0.6409517  ...    0.815616   0.2184711
18                   recall          1.0  ...         1.0         1.0
19                     rmse   0.21119255  ...   0.1656171  0.39371818

[20 rows x 8 columns]

See the whole table with table.as_data_frame()

Scoring History:

                timestamp  ... training_lift  training_classification_error
0     2020-08-17 06:54:25  ...      1.000000                       0.167665
1     2020-08-17 06:54:25  ...      1.201439                       0.029940
2     2020-08-17 06:54:25  ...      1.201439                       0.029940
3     2020-08-17 06:54:25  ...      1.201439                       0.023952
4     2020-08-17 06:54:25  ...      1.201439                       0.017964
5     2020-08-17 06:54:25  ...      1.201439                       0.017964
6     2020-08-17 06:54:25  ...      1.201439                       0.017964
7     2020-08-17 06:54:25  ...      1.201439                       0.005988
8     2020-08-17 06:54:25  ...      1.201439                       0.005988
9     2020-08-17 06:54:25  ...      1.201439                       0.000000
10    2020-08-17 06:54:25  ...      1.201439                       0.000000
11    2020-08-17 06:54:25  ...      1.201439                       0.000000
12    2020-08-17 06:54:25  ...      1.201439                       0.000000
13    2020-08-17 06:54:25  ...      1.201439                       0.000000
14    2020-08-17 06:54:25  ...      1.201439                       0.000000
15    2020-08-17 06:54:25  ...      1.201439                       0.000000
16    2020-08-17 06:54:25  ...      1.201439                       0.000000
17    2020-08-17 06:54:25  ...      1.201439                       0.000000

[18 rows x 10 columns]

Variable Importances:

      variable  relative_importance  scaled_importance  percentage
0  ConcProm2_1            57.818455           1.000000    0.576973
1    ConcProm1            20.947271           0.362294    0.209034
2  ConcProm2_2            10.111001           0.174875    0.100898
3         Edad             7.362508           0.127338    0.073471
4      Estrato             2.051599           0.035483    0.020473
5      NivelEd             1.619064           0.028003    0.016157
6       Genero             0.300034           0.005189    0.002994

Actual
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 0]
gbm prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
predicted
[1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 0]
Prediction Accuracy
1.0
MSE

0.0

In [15]:
h2o.ls()
h2o.shutdown()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Deprecated, use ``h2o.cluster().shutdown()``.

H2O session _sid_a53d closed.

## TPOT AutoML Models

In [9]:
# Install tpot on the server
!pip install tpot

Collecting tpot
  Downloading https://files.pythonhosted.org/packages/14/5e/cb87b0257033a7a396e533a634079ee151a239d180efe2a8b1d2e3584d23/TPOT-0.11.5-py3-none-any.whl (82kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 92kB 5.5MB/s
Collecting stopit>=1.1.1
  Downloading https://files.pythonhosted.org/packages/35/58/e8bb0b0fb05baf07bbac1450c447d753da65f9701f551dca79823ce15d50/stopit-1.1.2.tar.gz
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.16.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.0.5)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (4.41.1)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.18.5)
Collecting deap>=1.2
  Downloading https://files.pythonhosted.org/packages/0a/eb/2bd0a32e3ce757fb26264765abbaedd6d4d3640d90219a513aeabd08ee2b/deap-1.3.1-cp36-cp36m-manylinux2010_x86_64.whl (157kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 163kB 13.6MB/s
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.4.1)
Collecting update-checker>=0.16
  Downloading https://files.pythonhosted.org/packages/0c/ba/8dd7fa5f0b1c6a8ac62f8f57f7e794160c1f86f31c6d0fb00f582372a3e4/update_checker-0.18.0-py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-cp36-none-any.whl size=11956 sha256=a673b767243cfffc8a6be0a0c5d98c65d961f5e3e0cc70610900d67461809d6b
  Stored in directory: /root/.cache/pip/wheels/3c/85/2b/2580190404636bfc63e8de3dff629c03bb795021e1983a6cc7
Successfully built stopit
Installing collected packages: stopit, deap, update-checker, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.5 update-checker-0.18.0

In [10]:
import pandas as pd
import numpy as np
X = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/ConcDriversML/master/WARX.csv')
y = pd.read_csv('https://raw.githubusercontent.com/gjhernandezp/ConcDriversML/master/WARY.csv')
X = np.array(X)
y = np.array(y).reshape((-1,))
print(X.shape)
print(y.shape)

(167, 7)
(167,)

In [11]:
# Import the tpot classifier 
from tpot import TPOTClassifier 

# Create a tpot object with a few parameters
tpot = TPOTClassifier(scoring = 'accuracy', 
                    max_time_mins = 240, 
                    n_jobs = -1,
                    verbosity = 2,
                    cv = 5)

In [ ]:
# Fit the tpot model on the training data
tpot.fit(X, y)
tpot_best_model = tpot.fitted_pipeline_
print(tpot_best_model)
# Export the pipeline as a python script file
tpot.export('tpot_exported_pipeline1.py')

# Show the final model
print(tpot.fitted_pipeline_)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', style=ProgressStyle(description_wâ€¦

Generation 1 - Current best internal CV score: 0.9577540106951872
Generation 2 - Current best internal CV score: 0.9577540106951872
Generation 3 - Current best internal CV score: 0.9577540106951872
Generation 4 - Current best internal CV score: 0.9577540106951872
Generation 5 - Current best internal CV score: 0.9577540106951872
Generation 6 - Current best internal CV score: 0.9577540106951872
Generation 7 - Current best internal CV score: 0.9577540106951872
Generation 8 - Current best internal CV score: 0.9577540106951872
Generation 9 - Current best internal CV score: 0.9577540106951872
Generation 10 - Current best internal CV score: 0.9577540106951872
Generation 11 - Current best internal CV score: 0.9577540106951872
Generation 12 - Current best internal CV score: 0.9577540106951872
Generation 13 - Current best internal CV score: 0.9577540106951872
Generation 14 - Current best internal CV score: 0.9577540106951872
Generation 15 - Current best internal CV score: 0.9579322638146168
Generation 16 - Current best internal CV score: 0.9579322638146168
Generation 17 - Current best internal CV score: 0.9579322638146168
Generation 18 - Current best internal CV score: 0.9579322638146168
Generation 19 - Current best internal CV score: 0.9579322638146168
Generation 20 - Current best internal CV score: 0.9579322638146168
Generation 21 - Current best internal CV score: 0.9579322638146168
Generation 22 - Current best internal CV score: 0.9579322638146168
Generation 23 - Current best internal CV score: 0.9579322638146168
Generation 24 - Current best internal CV score: 0.9638146167557933
Generation 25 - Current best internal CV score: 0.9638146167557933
Generation 26 - Current best internal CV score: 0.9638146167557933
Generation 27 - Current best internal CV score: 0.9638146167557933
Generation 28 - Current best internal CV score: 0.9638146167557933
Generation 29 - Current best internal CV score: 0.9638146167557933
Generation 30 - Current best internal CV score: 0.9638146167557933
Generation 31 - Current best internal CV score: 0.9638146167557933
Generation 32 - Current best internal CV score: 0.9638146167557933
Generation 33 - Current best internal CV score: 0.9638146167557933
Generation 34 - Current best internal CV score: 0.9638146167557933
Generation 35 - Current best internal CV score: 0.9638146167557933
Generation 36 - Current best internal CV score: 0.9638146167557933
Generation 37 - Current best internal CV score: 0.9638146167557933
Generation 38 - Current best internal CV score: 0.9638146167557933
Generation 39 - Current best internal CV score: 0.9638146167557933
Generation 40 - Current best internal CV score: 0.9638146167557933
Generation 41 - Current best internal CV score: 0.9638146167557933
Generation 42 - Current best internal CV score: 0.9638146167557933
Generation 43 - Current best internal CV score: 0.9638146167557933
Generation 44 - Current best internal CV score: 0.9638146167557933
Generation 45 - Current best internal CV score: 0.9638146167557933
Generation 46 - Current best internal CV score: 0.9638146167557933
Generation 47 - Current best internal CV score: 0.9638146167557933
Generation 48 - Current best internal CV score: 0.9638146167557933
Generation 49 - Current best internal CV score: 0.9638146167557933
Generation 50 - Current best internal CV score: 0.9638146167557933
Generation 51 - Current best internal CV score: 0.9638146167557933
Generation 52 - Current best internal CV score: 0.9638146167557933
Generation 53 - Current best internal CV score: 0.9638146167557933
Generation 54 - Current best internal CV score: 0.9638146167557933
Generation 55 - Current best internal CV score: 0.9638146167557933
Generation 56 - Current best internal CV score: 0.9638146167557933
Generation 57 - Current best internal CV score: 0.9638146167557933
Generation 58 - Current best internal CV score: 0.9638146167557933
Generation 59 - Current best internal CV score: 0.9638146167557933
Generation 60 - Current best internal CV score: 0.9638146167557933
Generation 61 - Current best internal CV score: 0.9638146167557933
Generation 62 - Current best internal CV score: 0.9638146167557933
Generation 63 - Current best internal CV score: 0.9638146167557933
Generation 64 - Current best internal CV score: 0.9638146167557933
Generation 65 - Current best internal CV score: 0.9638146167557933
Generation 66 - Current best internal CV score: 0.9638146167557933
Generation 67 - Current best internal CV score: 0.9638146167557933
Generation 68 - Current best internal CV score: 0.9638146167557933
Generation 69 - Current best internal CV score: 0.9638146167557933
Generation 70 - Current best internal CV score: 0.9638146167557933
Generation 71 - Current best internal CV score: 0.9638146167557933
Generation 72 - Current best internal CV score: 0.9638146167557933
Generation 73 - Current best internal CV score: 0.9638146167557933
Generation 74 - Current best internal CV score: 0.9638146167557933
Generation 75 - Current best internal CV score: 0.9638146167557933
Generation 76 - Current best internal CV score: 0.9638146167557933
Generation 77 - Current best internal CV score: 0.9638146167557933
Generation 78 - Current best internal CV score: 0.9638146167557933
Generation 79 - Current best internal CV score: 0.9638146167557933

In [ ]:
from sklearn.model_selection import cross_val_score
tpot_best_model = tpot.fitted_pipeline_

# Evaluate the final model 
print(tpot.score(X, y))

cross_val5 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=5)
print(cross_val5)
print(cross_val5.mean())

cross_val10 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=10)
print(cross_val10)
print(cross_val10.mean())

In [ ]:
# Fit the tpot model on the training data
tpot.fit(X, y)
tpot_best_model = tpot.fitted_pipeline_
print(tpot_best_model)
# Export the pipeline as a python script file
tpot.export('tpot_exported_pipeline2.py')

# Show the final model
print(tpot.fitted_pipeline_)

In [ ]:
from sklearn.model_selection import cross_val_score
tpot_best_model = tpot.fitted_pipeline_

# Evaluate the final model 
print(tpot.score(X, y))

cross_val5 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=5)
print(cross_val5)
print(cross_val5.mean())

cross_val10 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=10)
print(cross_val10)
print(cross_val10.mean())

In [ ]:
# Fit the tpot model on the training data
tpot.fit(X, y)
tpot_best_model = tpot.fitted_pipeline_
print(tpot_best_model)
# Export the pipeline as a python script file
tpot.export('tpot_exported_pipeline3.py')

# Show the final model
print(tpot.fitted_pipeline_)

In [ ]:
from sklearn.model_selection import cross_val_score
tpot_best_model = tpot.fitted_pipeline_

# Evaluate the final model 
print(tpot.score(X, y))

cross_val5 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=5)
print(cross_val5)
print(cross_val5.mean())

cross_val10 = cross_val_score(tpot_best_model, X, y, scoring='accuracy', cv=10)
print(cross_val10)
print(cross_val10.mean())